*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
html,body{
    height:100vh;
    width: 100vw; 
}
.welcome{
   display:flex ;
   font-size: 70px;
   font-weight: 600;
   font-family: 'Times New Roman', Times, serif;
   border-bottom: 5px solid rgb(3, 85, 3);
   margin-bottom: 10px;
   color:  rgb(3, 85, 3);
 }

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
    background-color: rgb(134, 182, 134);
}

#panel{
    overflow: hidden;
    height:80%;
    width: 80%;
    background-color:rgb(231, 244, 235);
    border-radius: 10px;
}

#ptop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:aliceblue;
    padding: 0px 10%;
    width: 100%;
    height: 100px;
    background-color: rgb(59, 135, 59);
}

.box{
    display: flex;
    align-items: center;
    gap: 20px;  
}

.box h2{
    font-weight: 500;
    font-size: 22px;
}
.box button{
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: aliceblue;
    font-size: 20px;
    color: rgb(55, 136, 59);
     font-weight: 600;

}

.subBox{
    color: rgb(55, 136, 59);
    font-weight: 600;
    padding: 10px 20px;
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 5px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:20px ;
    width: 100%;
    height: calc(100% - 100px);
    gap: 10px;
    /* font-size: 50px; */
}

.bubble{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: white;
    background-color:  rgb(59, 135, 59);
    border-radius: 50%;
    font-weight: 600;
   
    
}

.bubble:hover{
    cursor: pointer;
    background-color:rgb(26, 82, 26) ;
}
